.container__header {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  z-index: 99999999;

  .main {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    color: var(--black);
    z-index: 1;
    background-color: var(--white);
    padding: 0 200px;

    .logo {
      font-size: 1rem;
      color: var(--black);
      font-weight: 600;
      text-decoration: none;
    }

    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 0 2rem;

      .link {
        text-decoration: none;
        color: var(--black);
        font-weight: 200;
        font-size: 0.9rem;
        transition: color 0.3s ease, border-bottom 0.3s ease;

        &:after {
          content: "";
          display: block;
          position: absolute;
          bottom: -3px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: var(--red);
          opacity: 0;
          transition: 0.2s ease-in-out;
        }

        &:hover::after {
          opacity: 1;
        }
      }

      svg {
        top: 2px;
      }

      .activeLink {
        position: relative;

        &:after {
          content: "";
          display: block;
          position: absolute;
          bottom: -3px;
          left: 0;
          width: 100%;
          height: 2px;
          opacity: 1;
          background-color: var(--red);
        }
      }
    }
  }
}
