/* import font pragmatica  */

@font-face {
  font-family: "Pragmatica";
  src: url("/assets/font/fonnts.com-Pragmatica_Ext_Extra_Bold.otf")
    format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Pragmatica";
  src: url("/assets/font/fonnts.com-Pragmatica_Ext_Extra_Light.otf")
    format("opentype");
  font-weight: 200;
}

:root {
  --white: #f3f3f3;
  --black: #111111;
  --font: "Pragmatica", sans-serif;
}

* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
  margin: 0;
  padding: 0;
  font-family: "Pragmatica", sans-serif;
}
